.OneMeal {
    /* background-color: gray; */
    width: 150px;
    height: auto;
    display: grid;

    text-align: center;
    border: 1px solid gray;
    margin: 16px;
    border-radius: 5px;
    cursor: pointer;
}

h3 {
    background-color: rgb(44, 44, 78);
    margin: 0;
    padding: 10px;
    color: white;
}

img {
    width: 150px;
    height: 90px;
}